<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>
</script>

<script>
  window.mainLogo1 = "<%= asset_path('homepage1.png') %>"
  window.mainLogo2 = "<%= asset_path('homepage2.png') %>"
</script>

<main id="root"></main>
