/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./reset.scss";

header {
  width: 100%;
  border-bottom: 1px solid black;
  background: #5bc5a7;
  box-shadow: 0 0 3px black;
  color: #000;
  height: 50px;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  padding: 8px;
  letter-spacing: 8px;
}

.login-button {
  border: 5px groove rgb(122, 162, 108)ck;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgb(41, 47, 39);
  padding: 5px 10px;
  font-size: 14px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
}

.signup-button {
  border: 5px groove rgb(122, 162, 108)ck;
  border-radius: 4px;
  text-shadow: 0 -1px 0 rgb(41, 47, 39);
  padding: 5px 10px;
  font-size: 14px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
  background-color: rgb(224, 162, 25);
}

.nav-bar-box {
  width: 960px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  align-items: center;
  height: 50px;
  width: auto;
  display: flex;
  text-decoration: none;
}

#root {
  margin: none;
}

.IOU-header {
  color: white;
  font-size: 22px;
  font-family: Georgia, serif;
  text-decoration: bold;
  letter-spacing: 5px;
}

.login-signup {
  color: white;
  list-style: none;
  display: flex;
}

.signup-welcome {
  z-index: 999;
  list-style: none;
  height: 50px;
  text-align: center;
  display: block;
}

.signup-page-logo {
  height:200px;
  width: auto;

}

body {
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 0px;
  padding: 0px;
}

.signup-hi {
  font-size: 30px;
}

.signup-introduce {
  color: grey;
}

.signup-name-input, .signup-email-input, .signup-password-input{
  border: 3px grey;
  background-color: red;
}
