.friends-menu-div {
  margin: 20px 20px 0 5px;
}

.friends-menu-header {
  color: rgb(204, 204, 204);
  background: rgb(246, 246, 246);
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 5px;
  height: 21px;

}

.friends-menu-header button:hover {
  color: rgb(96,	200,	167);
}

.friends-menu-header i {
  margin-right: 3px;
}

.friends-menu-div ul {
  color: rgb(153, 153, 153);
  font-size: 14px;
}


.friends-menu-div ul li {
  padding: 3px 8px 2px 8px;
  border-left: 6px;
}

.friends-menu-div ul li i {
  margin-right: 5px;
}

.friends-menu-header:hover, .friends-menu-div ul li:hover, .friend-menu-dashboard-button:hover {
  color: rgb(102, 102, 102);
  background: rgb(238, 238, 238);
}

.friend-not-found {
  margin: 100px;
  font-size: 30px;
  text-align: center;
}

#all-friend-selected-sidebar-item, #selected {
  border-left: 6px solid rgb(96, 200, 173);
  color: rgb(96,	200,	173);
  padding-left: 2px;
}

.friend-menu-dashboard-button {
  padding-left: 7px;
  color: rgb(153, 153, 153);
  margin: 10px 0 10px 0;
  font-size: 18px;
  height: 30px;
  padding-top: 5px;
}

.friend-menu-dashboard-button-selected {
  padding-left: 7px;
  margin: 10px 0 10px 0;
  color: rgb(96,	200,	173);
  border-left: 7px solid rgb(96,	200,	173);
}
