.no-history-div {
  display: flex;
}

.no-history-div img {
  width: 150px;
  height: 274.41px;
  margin: 50px;
}

.no-history-title {
  margin-top: 40px;
  font-size: 35px;
  font-weight: bold;
}

.no-history-div-words {
  display: flex;
  flex-direction: column;
}

.no-history-words {
  color: rgb(153,	153,	159);
  font-size: 20px;
  margin-top: 15px;
  line-height: 25px;
}

.friend-bill-list-item img {
  height: 35px;
  width: 21px;
}

.friend-bill-list-item {
  display: flex;
  justify-content: space-between;

}

.friend-history-master-list {
  display: flex;
  flex-direction: column;
}

.friendship-history {
  /* box-shadow: 0 0 12px rgba(0,0,0,0.2); */
  /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; */
  width: 100%;
}

.bill-item-left {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bill-item-left div {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.bill-item-right {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bill-item-right div, .payment-item-right p, .payment-item-right span{
  margin: 0 10px 0 10px;
}

.bill-item-right div p, .payment-item-right span {
  color: rgb(170,	170,	170);
  font-size: 12px;
}

.bill-item-right div div {
  font-weight: bold;
  font-size: 20px;
}

.payment-item-left {
  display: flex;
  align-items: center;
}

.payment-item-left img {
  width: 19px;
  height: 19px;
  padding: 0 10px 0 10px;
}

.payment-item-left div {
  font-size: 12px;
}

.friend-payment-list-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(238,	238,	238);
  border-bottom: 1px solid rgb(238,	238,	238);
  height: 38px;
}


.friend-payment-list-item, .friend-bill-list-item {
  border-top: 1px solid rgb(238,	238,	238);
  border-bottom: 1px solid rgb(238,	238,	238);
}

.friend-payment-list-item:hover, .friend-bill-list-item:hover {
  background: rgb(248, 248, 248);
}

.payment-item-right span {
  color: rgb(170,	170,	170);
}

.payment-item-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px, 15px, 15px;
  margin-right: 25px;
}
.payment-item-right p {
  font-weight: bold;
  font-size: 20px;
}

.payment-item-right span {
  margin-right: 20px;
}
