.friends-menu-div {
  margin: 40px 20px 0 5px;
}

.friends-menu-header {
  color: rgb(204, 204, 204);
  background: rgb(246, 246, 246);
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 5px;
  height: 21px;

}

.friends-menu-header i {
  margin-right: 3px;
}

.friends-menu-div ul {
  color: rgb(153, 153, 153);
  font-size: 14px;
}


.friends-menu-div ul li {
  padding: 3px 8px 2px 8px;
  border-left: 6px;
}

.friends-menu-div ul li i {
  margin-right: 5px;
}
