.signup-page {
  display:flex;
  justify-content: center;
  margin-top: 90px;
}

.signup-page-logo {
  margin-right: 25px;
}

.signup-welcome {
  z-index: 999;
  list-style: none;
  height: 50px;
  text-align: center;
  display: block;
}

.signup-page-logo {
  height:200px;
  width: auto;

}

.signup-form-box {
  display: flex;
  flex-direction: column;
}

.signup-hi {
  font-size: 24px;
  /* text-shadow: 0 -.3px 0 yellow, .4px 0 0 lightblue; */
  margin-bottom: 17px;
}

.signup-submit-form form {
  display: flex;
  flex-direction: column;
}

.signup-submit-button:hover{
  background-color: rgb(252,	74,	25);

}


.signup-introduce {
  color: grey;
  font-size: 16px;
  /* text-shadow: 0 -.3px 0 yellow, .4px 0 0 lightblue; */
}


.signup-submit-button:focus,{
  background-color: rgb(79, 193, 157);
  box-shadow: inset 0px 0px 5px rgb(226,	66,	22);

}

.signup-email-label, .signup-password-label {
  font-size: 18px;
}

.signup-submit-button {
  text-align: center;
  width: 144px;
  height: 44px;
  padding: 5px 10px;
  font-size: 24px;
}


.signup-email-input, .signup-name-input, .signup-password-input {
  margin-bottom: 17px;
}

.signup-email-input:focus, .signup-name-input:focus, .signup-password-input:focus{
  border: 1px solid rgb(120, 184, 240);
  box-shadow: 0 0 5px rgb(50, 150, 240);
}

.signup-submit-button:focus {
  border: 1px solid rgb(120, 184, 240);
  box-shadow: 0 0 5px rgb(50, 150, 240);
}


.signup-name-input {
  width: 338px;
  height: 52px;
  font-size: 32px;
}

.signup-page-logo {
  margin-right: 25px;
}

.signup-form-errors {
  background-color: rgb(202,	60,	85);
  /* border: 1px solid rgb(187, 51, 68); */
  color:white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 362px;
  font-size: 18px;
  text-shadow: 0px -1px 0px rgb(154, 42, 56);
  padding: 5px 10px 5px 10px;
  line-height: 36px;
  font-weight: 700;
}

.signup-form-errors ul {
  font-size: 18px;
  line-height: 24px;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 50px;
  font-weight:normal;
  text-shadow: 0px -1px 0px rgb(154, 42, 56);
  text-align: left;
}
